<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jpaTemplate" factory-bean="jpaTemplateFactory" factory-method="getInatance">
		<description>返回JpaTemplate</description>
	</bean>
	
	<bean id="jpaTemplateFactory" class="org.varkrs.sociality.local.jpa.JpaTemplateFactory" scope="singleton">
		<description>JpaTemplate生成工厂</description>
	</bean>

	<import resource="classpath:org/varkrs/sociality/local/jpa/dao/beans.xml"/>
	
</beans>
