<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:org/varkrs/sociality/local/jpa/beans.xml"/>
	
	<import resource="classpath:org/varkrs/sociality/local/business/beans.xml"/>
	
	<bean id="hostInfo" class="org.varkrs.sociality.common.web.configurations.HostInfoImpl" 
		scope="singleton">
		<description>关于服务器域名配置信息</description>
		<!-- 协议啊 -->
		<property name="protocal" value="http"></property>
		<!-- 域名啊 -->
		<property name="domainName" value="localhost:8080"></property>
	</bean>

</beans>
